[Desktop Entry]
Version=1.0
Name=Vuicoin Core
Comment=Vuicoin P2P Cryptocurrency
Comment[de]=Verbinde mit dem Vuicoin peer-to-peer Netzwerk
Comment[fr]=Vuicoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Vuicoin, eşten eşe kriptografik sanal para birimi
Exec=vuicoin-qt %u
Terminal=false
Type=Application
Icon=vuicoin128
MimeType=x-scheme-handler/vuicoin;
Categories=Office;Finance;
StartupWMClass=Vuicoin-qt
