*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/vuicoin
src/vuicoind
src/vuicoin-cli
src/vuicoin-tx
src/test/test_vuicoin
src/test/test_vuicoin_fuzzy
src/qt/test/test_vuicoin-qt
src/qt/res/css/colors/*
src/bench/bench_vuicoin

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/vuicoin-config.h
src/config/vuicoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
!depends/patches/*/*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
vuicoin-qt
Vuicoin-Qt.app
background.tiff*
!/depends/Makefile

# Unit-tests
Makefile.test
vuicoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_vuicoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libvuicoinconsensus.pc
contrib/devtools/split-debug.sh
src/qt/vuicoin-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
vuicoin-cli
vuicoind
vuicoin-qt
make

/docker/bin

# CLion
.idea
cmake-build-debug
