# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit vuicoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/vuicoin/vuicoin.conf

[Unit]
Description=Vuicoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/vuicoind -daemon -conf=/etc/vuicoin/vuicoin.conf -pid=/run/vuicoind/vuicoind.pid
# Creates /run/vuicoin owned by vuicoincore
RuntimeDirectory=vuicoind
User=vuicoincore
Type=forking
PIDFile=/run/vuicoind/vuicoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
